/* -------------- basic styles ------------- */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

/* ------------- /basic styles ------------- */
/* -------------- container styles ------------- */
.container {
    max-width: 288px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ------------- /container styles ------------- */
/* -------------- header styles ------------- */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.header-title {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.btn-tel-burger {
    display: none;
}

.menu-mobail-nav {
    display: none;
}

@media only screen and (max-width: 767px) {
.container-header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.btn-tel-burger {
    display: block;
    border: none;
    padding: 0;
}

.menu-ul-list {
    display: none;
} 

.address-header {
    display: none;
}

   /* ----------mobail menu----------- */
.menu-mobail-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-menu {
    opacity: 1;
    visibility: inherit;
}

.mobaal-close-btn-menu {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 17.5px;
    right: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-close-btn-icon-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobaal-close-btn-menu:focus {
   background-color: #404bbf;
   fill: #fff;
   border: none;
}

.mobail-nav-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    min-width: 151px;
    min-height: 200px;
    margin-top: 72px;
    margin-bottom: 168px;
}

.link-mabail-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.link-mabail-nav:focus {
    color: #404bbf;
}

.address-menu-mabail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    min-width: 193px;
    min-height: 72px;
    margin-bottom: 48px;
}

.address-link-mabail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link-mabail:focus {
    color: #4d5ae5;;
}

.ul-social-links {
    display: flex;
    gap: 16px;
}

.li-social-links {
    width: 40px;
    height: 40px;
}

.link-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
    background-color: #31d0aa;
}

.svg-social {
    fill: #f4f4fd;
}
}
/* --------------/mobail menu------------ */

@media only screen and (min-width: 768px) {
.container {
    max-width: 736px;
}

.logo {
    margin-right: 120px;
}

.nav-menu {
    margin-right: auto;
    display: flex;
    align-items: center;
}
    
.menu-ul-list {
    display: flex;
    gap: 40px;
}

.menu-ul-list:last-child {
    margin-right: 0;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
    display: block;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;

}

.address-header {
    font-style: normal;
}

.address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-menu li:last-child {
    margin-right: 0;
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
}

@media only screen and (min-width: 1158px) {
.container {
     max-width: 1158px;
}

.logo {
    margin-right: 76px;
}

.address-menu {
    flex-direction: row;
    gap: 40px;
}
}
/* ------------- /header styles ------------- */
/* -------------- section-1 styles ------------- */
.container-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-section {
   background: #2e2f42;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-right: auto;
   margin-left: auto;
}

.title-page {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;

    display: block;
    margin: 0 auto;

    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
    background-color: #404bbf;
}

@media only screen and (max-width: 767px) {
.title-section {
    min-width: 320px;
    min-height: 432px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-tel/Dark-bg-tel-min.png);
}

.title-page {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 42px;
    margin-top: 72px;
    width: 216px;
    height: 160px;
}    
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px){
.title-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-tel/Dark-bg-telx2-min.png);
}
}

@media only screen and (min-width: 768px) {
.title-section {
    min-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-table/bg-tablet-min.png);
}

.title-page  {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    margin-top: 112px;
    width: 496px;
    height: 120px;
}
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
.title-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-table/bg-tabletx2-min.png);
}
}

@media only screen and (min-width: 1158px) {
.title-section {
    min-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bagraund-title.jpg);
}

.title-page {
    margin-bottom: 48px;
    margin-top: 188px;
}
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
.title-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img2x/bagraund-title2x-min.png);
}
}
/* ------------- /section-1 styles ------------- */
/* -------------- section-2 styles ------------- */

.title-benefits {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.paragraph-benefits {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (max-width: 767px) {
    .section-benefits {
        padding: 96px 0 96px;
    }

    .benefits-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 72px;
    }

    .li-list-benefits {
        width: 288px;
    }

    .svg-container {
        display: none;
    }

    .title-benefits {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        text-align: center;
    }
        
    .paragraph-benefits {
        font-weight: 500;
    }
}

@media only screen and (min-width: 768px) {
.section-benefits {
    padding: 96px 0 96px;
}
    
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.li-list-benefits {
    width: calc((100% - 24px) / 2);
}
   
.svg-container {
    display: none;
}
    
.title-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}
    
.paragraph-benefits {
    font-weight: 500;
}
}
@media only screen and (min-width: 1158px) {
.section-benefits {
        padding: 120px 0 120px;
    }

    .container-benefits {
        width: 1128px;
    }

    .svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
    }

    .svg-container:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .benefits-list {
        display: flex;
        gap: 24px;
    }


    .li-list-benefits {
        width: calc((100% - 72px) / 4);
    }



    .title-benefits {
        font-weight: 500;
        font-size: 20px;

        line-height: 1.2;
        text-align: left;
    }


    .paragraph-benefits {
        font-weight: 400;
    }
}
/* ------------- /section-2 styles ------------- */
/* -------------- section-3 styles ------------- */
.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
    min-height: 732px;
}

.conteiner-icon-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-icon-team {
    width: 40px;
    height: 40px;
}

.link-icont-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icont-team:hover,
.link-icont-team:focus {
    background-color: #404bbf;
}

.icon-sosial-team {
    fill: #f4f4fd;
    stroke: #FFFFFF;
}

.section-our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.title-team {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.paragraph-team {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.div-tema-page {
    padding: 32px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 767px) {
.ul-our-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

}

@media only screen and (min-width: 768px) {
.ul-our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    row-gap: 62px;

}

.list-item {
    width: calc((100% - 24) / 2);
}
}

@media only screen and (min-width: 1158px) {

.list-item {
    width: calc((100% - 72px) / 4);
}
}
/* ------------- /section-3 styles ------------- */
/* -------------- section-4 styles ------------- */
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}
/* ------------- /section-4 styles ------------- */
/* -------------- footer styles ------------- */
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}
/* ------------- /footer styles ------------- */
/* -------------- backdrop styles ------------- */
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}
/* ------------- /backdrop styles ------------- */
/* -------------- moba-list styles ------------- */
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}
/* ------------- /moba-list styles ------------- */